@{

    int OrderId = (int)ViewBag.OrderId; 
}


<div id="ApproveOrderModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form class="check-form" onsubmit="return false;">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xử lý đơn hàng? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="submit" class=" btn btn-success approve-form" value="@OrderId"> Xử lý </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Đóng </button>
          </div>
        </form>
    </div>
</div>