@{

    int OrderId = (int)ViewBag.OrderId; 
}

    <div id="CheckOrderModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Kiểm tra đơn hàng? </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class=" btn btn-success check-form" value="@OrderId"> Kiểm tra </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Đóng </button>
                </div>
            </div>
        </div>
    </div>

