html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

i.fa-solid {
    line-height: unset;
}

i.fa-brands {
    line-height: unset;
}

.nav-link:hover {
    cursor: pointer;
}

.form-child-full-height > form {
    height: 100%;
}