@model CategoryViewModel
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div id="InfoCategoryModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <form class="add-form" onsubmit="return false;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Thêm danh mục bánh pizza </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="fw-bold"> Tên danh mục: </div>
                        <input asp-for="Display" class="form-control" value="@Model.Display" />
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class=" btn btn-primary"> Thêm </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Đóng </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}